body{
	
}
#display{
	overflow-y: scroll;
	overflow-x: hidden;
	width: 378px;
	height: 585px;
	margin: 50px auto;
	background-color: black;
	position: relative;
}

#tiles{
	width: 350px;
	padding-left: 10px;
	padding-top: 10px;
	position: absolute;
	left: 0px;
}

#apps{
	width: 350px;
	padding-right: 10px;
	padding-top: 10px;
	background-color: blue;
	position: absolute;
	left: 370px;
}

.wide{
	width:330px;
	height: 160px;
	margin: 5px;
	float: left;
	background-color: blue;
}

.medium{
	width: 160px;
	height: 160px;
	margin: 5px;
	float: left;
	background-color: blue;
}

.small{
	width: 75px;
	height: 75px;
	margin: 5px;
	float: left;
	background-color: blue;
}

#banner{
	width: 350px;
	height: 43px;
}

.arrow{
	background-image: url('../assets/apps.png');
	width: 43px;
	height: 43px;
	position: absolute;
	right: 5px;
	bottom: -43px;
}