body{
	
}
#phone{
	height: 800px;
	margin: 50px auto;
	background-image: url('../assets/background.jpg');
}
#display{
	overflow-y: scroll;
	overflow-x: hidden;
	width: 378px;
	height: 603px;
	background-color: black;
	position: relative;
	top: 96px;
	left: 33px;
}

#tiles{
	width: 350px;
	padding-left: 10px;
	padding-top: 20px;
	position: absolute;
}

#apps{
	width: 350px;
	padding-left: 10px;
	padding-top: 20px;
	position: absolute;
	left: 360px;
}

.wide{
	width:330px;
	height: 160px;
	margin: 5px;
	float: left;
	background-color: red;
}

.medium{
	width: 160px;
	height: 160px;
	margin: 5px;
	float: left;
	background-color: red;
}

.small{
	width: 75px;
	height: 75px;
	margin: 5px;
	float: left;
	background-color: red;
}

.app{
	width: 60px;
	height: 60px;
	margin: 5px;
	float: left;
}

.arrow{
	background-image: url('../assets/apps.png');
	width: 43px;
	height: 43px;
	float: right;
	position: absolute;
	bottom: -50px;
	left: 300px;
}