body{
	
}
#test{
	
	overflow: scroll;
}

#display{
	width: 366px;
	height: 585px;
	padding-left: 10px;
	padding-top: 10px;
	float: left;
	background-color: black;
}

#apps{
	width: 250px;
	height: 585px;
	padding-left: 10px;
	padding-top: 10px;
	overflow: auto;
	background-color: blue;
}

.wide{
	width:330px;
	height: 160px;
	margin: 5px;
	float: left;
	background-color: red;
}

.medium{
	width: 160px;
	height: 160px;
	margin: 5px;
	float: left;
	background-color: red;
}

.small{
	width: 75px;
	height: 75px;
	margin: 5px;
	float: left;
	background-color: red;
}

.arrow{
	background-image: url('../assets/apps.png');
	width: 40px;
	height: 40px;
	float: right;
}